*csv
*zip
BOOKS/*pdf
*pyc
*~
DevEnvironment_Setup/FLASK_BOOTSTRAP/http_www.latlong.net_.html
Passearch/BackEnd/Explore/.ipynb_checkpoints/
Passearch/BackEnd/Explore/test.pdf
Resume/CV/
Resume/Templates/
Resume/main.aux
Resume/main.dvi
Resume/main.log
Resume/main.out
Resume/main.pdf
Resume/main.ps
Resume/moderncvcolorblack.sty
Resume/moderncvcolorblue.sty
Resume/moderncvcolorgreen.sty
Resume/moderncvcolorgrey.sty
Resume/moderncvcolororange.sty
Resume/moderncvcolorpurple.sty
Resume/moderncvcompatibility.sty
Resume/moderncviconsletters.sty
Resume/moderncviconsmarvosym.sty
Resume/moderncvstylebanking.sty
Resume/moderncvstylecasual.sty
Resume/moderncvstyleempty.sty
Resume/moderncvstyleoldstyle.sty
	
